# [id] [username] [encrypted unix password] [encrypted samba password]
61001 test $6$vQM/K0tR$Bpj9KFwSl2GQxZL3ODloenDFiccvgJsGrophavhdqyiYOtm13SLlHuZXZ65g5TPUbFhouzi1sdsTbxxCqn.pP0 0CB6948805F797BF2A82807973B89537
